.archive-page,
.report-page,
.delays-page,
.configuration-page,
.dashboard-page,
.loan-page,
.profile-page {
  margin-left: 260px; 
  padding: 20px;
  display: flex;
  justify-content: right; 
  height: 60px; 
  box-sizing: border-box;
}
