.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 350px;
  min-height: calc(100vh - 100px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  z-index: 900;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #BA68C8;
  border: #9C27B0 2px solid;
  border-radius: 6px;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #AB47BC;
}

.menu-item.active {
  background-color: #9C27B0;
  border: #9C27B0 solid 2px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.menu-bottom {
  display: flex;
  gap: 8px;
  margin-top: 490px;
}

.mini-item {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BA68C8;
  border: #9C27B0 2px solid;
  border-radius: 6px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.mini-item:hover {
  background-color: #AB47BC;
}

.mini-item.active {
  background-color: #9C27B0;
  border: #9C27B0 solid 2px;
}

.mini-icon {
  width: px;
  height: 30px;
  object-fit: contain;
}
