.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 350px;
  height: calc(100vh - 100px);
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  z-index: 900;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #7CDEFF;
  border-radius: 6px;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #5eb8f0;
}

.menu-item.active {
  background-color: #499CD8;
  border: #1B77BA solid 2px, ;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
