.custom-table-container {
  margin-top: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.custom-table th {
  background-color: #9AA6BF;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-table tr:nth-child(even) {
  background-color: #e9ecef;
}

.custom-table tr:hover {
  background-color: #d0d7de;
  transition: 0.3s;
}
