.line-chart-wrapper {
  margin-top: 500px;
  background-color: #9AA6BF; /* cinza claro em volta do componente */
  border-radius: 12px;
  display: flex;           
  justify-content: center;
  align-items: center;
  width: 55%;               
  min-height: 50vh;          
  box-sizing: border-box;
}

.line-chart-container {
  background-color: #ffffff; /* fundo branco do gráfico */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 45vw;               
  height: 45vh;              
}
